
@import url('https://fonts.googleapis.com/css?family=Overlock');

body {
	background: #201c29 !important;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	background: #643a7a;
	box-shadow: .5rem 1rem 1rem rgba(0,0,0,0.6);
	overflow: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: flex;
	justify-content: center;
	align-items: center;
}

form {
	display: flex;
}

.circle {
	border: 3px solid white;
	border-radius: 50%;
	display: flex;
	width: 4rem;
	height: 4rem;
	box-shadow: .4rem .6rem .6rem rgba(0, 0, 0, .2);
	z-index: 2000;
	transition: 1s;
	align-items: center;
	justify-content: flex-start;
	background: #643a7a;
	overflow: hidden;
}

.expand {
	width: 15rem;
	border-radius: 0;
}

form {
	width: 15rem;
}

.form-control {
	border: none;
	outline: none !important;
	box-shadow: none !important;
	opacity: 0;
	background: transparent !important;
	font: {
		family: "overlock";
		size: 1.2rem;
	}
}

.show {
	opacity: 1;
	transition: 1s;
}

input {
	outline: none;
	border: none !important;
	color: white !important;
}

::placeholder {
	color: fade-out(white, .4) !important;
}

/*
.start {
	overflow: hidden; /* Hides letters as typing effect happens
  white-space: nowrap; /* Keeps the content on a single line
  margin: 0 auto; /* Gives that scrolling effect as the typing happens
  animation: typing 1.8s steps(40, end);
}

/* The typing effect

@keyframes typing {
  from {
    width: 20%;
  }
  to {
    width: 15rem;
  }
}
*/

.btn {
	font-size: 125%;
	border-radius: 0;
	padding: .5rem;
	z-index: 1000;
	transition: 1s;
	i {
		color: white;
	}
	&:focus {
		box-shadow: none !important;
	}
}

.hide {
	opacity: 0;
	z-index: -1;
}

.fa-spinner {
	position: absolute;
	left: 40%;
	top: 30%;
	color: fade-out(white, .5);
	font-size: 2000%;
	animation: loading 3s ease-in-out infinite;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
  	transform: rotate(360deg);
  }
}

.handle {
	position: absolute;
	top: 58%;
	left: 54%;
	background: white;
	box-shadow: .5rem .5rem 1rem rgba(#000, .5);
	width: 2rem;
	height: 4px;
	border-radius: 2px;
	transform: rotate(45deg);
	z-index: 1;
	transition: 1s;
}

.tidy {
	transform: translateY(-2rem) rotate(0);
}

form .suggestions {
	border: none !important;
	position: absolute;
	top: 57%;
	left: 20%;
	width: 60%;
  background: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  padding: 0 15px;
  margin: 0;
  list-style: none;
  color: #6E6E6E;
	z-index: -1;
	transition: 1s;
	box-shadow: .4rem .6rem .6rem rgba(0, 0, 0, .2);
}

form .suggestions li {
  margin: 18px 0;
  padding: 0;
  cursor: pointer;
}

form .suggestions li:hover {
  color: #741CAF;
}

form .suggestions li b {
  font-weight: 900;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
	z-index: -1;
}

.clearfix::after {
  clear: both;
}

